<h1>Products</h1>
<h2><%= page_entries_info @products %></h2>

<hr/>

<div id="products">
	<%= render @products %>
</div>

<hr/>

<%= paginate @products %>

<hr/>

<%= link_to 'Add a Product', 'products/new' %> 
<br>
<br>
<%= link_to 'Create an Account', 'users/new' %>
