<h1>
	<%= @product.name %>
</h1>

<p>
	<%= @product.description %>
	<%= number_to_currency(@product.formatted_price) %>
</p>

<% if current_user %>

	<h2>Reviews</h2>

	<p>Reviews for <%= @product.name %></p>

<div id="review-list">
	<%= render :partial => "reviews" %>
</div>
	
<h4>New Review</h4>

<%= form_for [@product, @review], :remote => true do |f| %>
		
	<div id="review-form-errors">
		<%= render :partial => "/products/review_form_errors" %>
	</div>

	<div class="field">
		<%= f.label :comment %><br />
		<%= f.text_area :comment %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>

	<% else %>
	<p>Please <%= link_to "log in", new_session_path %> to add a review.</p> 
	<% end %>

<br>
<br>

<%= link_to 'Back', products_path %>

<br>
<br>

<%= link_to 'Edit Product', edit_product_path %>

<br>
<br>

<%= link_to 'Delete Product', @product, :confirm => "Delete this Product?", :method => :delete %>

<script type="text/javascript">
	$(function(){
		$("#new_review")
		.on('ajax:BeforeSend', function(){
			$("input[type='submit']")
				.val('Saving...')
				.attr('disabled', 'disabled');
		});
		.on('ajax:complete', function(){
			$("input[type='submit']")
				.val('Create Review')
				.removeAttr('disabled');
		});
	});
</script>