<%= link_to 'Back', products_path %>

<br>
<br>

<%= link_to 'Edit Product', edit_product_path %>

<br>
<br>

<%= link_to 'Delete Product', @product, :confirm => "Delete this Product?", :method => :delete %>

<br>
<br>

<p>
	<%= @product.name %>
	<%= @product.description %>
	<%= @product.price_in_cents %>
</p>